.env
node_modules
mongo/volume
.vscode

r/.RData
r/.Rhistory
*.tif
*.grd
*.gri
r/aoa_aoa.grd.aux.xml
r/aoa_di.grd.aux.xml
r/classication.grd.aux.xml
r/images/aoa.qgz
r/images/test_classication_image_2020-01-01.tif.aux.xml
r/test_job/images/test_classication_image_2020-01-01.tif.aux.xml
r/test_job/images/classication.grd.aux.xml
r/test_job/images/aoa_di.grd.aux.xml
r/test_job/images/aoa_aoa.grd.aux.xml
r/test_job/images/aoa.qgz
map.qgz
r/test_job/images/test_training_image_2020-01-01.tif.aux.xml
*.wt
*.interim
*.lock
*.bson
*.tfw
r/test/pred.tif.aux.xml
r/test/test_training_image_2020-01-01.tif.aux.xml


jobs/*
!jobs/.gitkeep